<div w3-include-html="menu.html"></div> 
<h2></h2>
<div class="container">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <strong>Alterando Cliente</strong>
        </div>
        <div class="panel panel-body">
            <form>
                    <input type="hidden" name="id" id="id" />
                
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input class="form-control" type="text" name="nome" id="nome"  ng-model="cliente.nome" required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="idade">Idade:</label>
                        <input class="form-control" type="number" name="idade" id="idade" ng-model="cliente.idade" required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="sexo">Sexo:</label>
                        <input class="form-control" type="text" maxlength="1" name="sexo" id="sexo" ng-model="cliente.sexo" required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="dataNascimento">Data de Nascimento:</label>
                        <input class="form-control" type="date" name="dataNascimento" id="dataNascimento" ng-model="cliente.dataNascimento"  required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input class="form-control" type="email" name="email" id="email" ng-model="cliente.email" required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="endereco">Endereço:</label>
                        <input class="form-control" type="text" name="endereco" id="endereco" ng-model="cliente.endereco" required="true"/>
                    </div>
                    
                    <div class="text-right">
                        <a href="#/!" class="btn btn-danger">Cancelar</a>
                        <input type="submit" ng-click="submitForm()" value="Gravar" class="btn btn-success"/>
                    </div>
            </form> 	
        </div>
    </div>
</div>
